body{
    background-color: aliceblue;
}

/* style messages */
.messages {
    list-style: none;
    padding: 0;
    text-align: center;
}
.messages li {
    color: white;
    background-color: #dc3545;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
